:root {
    flex: 1;
    font-size: var(--general-font-size);

    --task-background-color: rgba(30, 30, 30, 1);
}

.task {
    flex: 1;
    background-color: var(--task-background-color);
    height: 60%;
    max-height: 60%;
}
